article {
  width: 100%;

  button {
    margin-top: -55px;
    margin-right: 20px;
    font-size: 30px;
    padding: 5px;
    background-color: fuchsia;
    color: #fff;
    float: right;
  }
}

section {
  width: 250px;
  height: 250px;
  background-color: #dadada;
  padding: 20px;
  margin: 20px;
  float: left;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  p {
    font-size: 40px;
    line-height: 85px;
  }
}

.hidden {
  opacity: 0.4;
}
